[submodule "contrib/bitcoin"]
	path = contrib/bitcoin
	url = https://github.com/bitcoin/bitcoin
[submodule "contrib/sqlcipher"]
	path = contrib/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher
