[submodule "contrib/bitcoin"]
	path = contrib/bitcoin
	url = https://github.com/bitcoin/bitcoin
[submodule "contrib/sqlcipher"]
	path = contrib/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher
[submodule "contrib/bc-ur-cpp"]
	path = contrib/bc-ur-cpp
	url = https://github.com/nunchuk-io/bc-ur-cpp
