[submodule "contrib/bitcoin"]
	path = contrib/bitcoin
	url = https://github.com/bitcoin/bitcoin
[submodule "contrib/sqlcipher"]
	path = contrib/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher
[submodule "contrib/bc-ur-cpp"]
	path = contrib/bc-ur-cpp
	url = https://github.com/nunchuk-io/bc-ur-cpp
[submodule "contrib/trezor-firmware"]
	path = contrib/trezor-firmware
	url = https://github.com/trezor/trezor-firmware
[submodule "contrib/bc-ur-2"]
	path = contrib/bc-ur-2
	url = https://github.com/bakaoh/bc-ur
[submodule "contrib/openssl"]
	path = contrib/openssl
	url = https://github.com/openssl/openssl.git
